@page
@model HardwareCheckoutSystemWeb.Pages.MyRequestsModel
@{
    ViewData["Title"] = "MyRequests";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <h2 class="text-center">Received devices</h2>
            <div class="table-responsive">
                @if (Model.ReceivedDevices.Count != 0)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Device Id</th>
                                <th>Device Brand</th>
                                <th>Device Model</th>
                                <th>Request Date</th>
                                <th>Rent start date</th>
                                <th>Rent end date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ReceivedDevices)
                            {
                                <tr>
                                    <td>@item.Id.ToString().Split("-")[0]</td>
                                    <td>@item.Device.Id.ToString().Split("-")[0]</td>
                                    <td>@item.Device.Brand.Name</td>
                                    <td>@item.Device.Model</td>
                                    <td>@item.RequestDate</td>
                                    <td>@item.RentStartDate</td>
                                    <td>@item.RentEndDate</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h2>you have no received devices</h2>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <h2 class="text-center">Requests in pending</h2>
            <div class="table-responsive">
                @if (Model.InProgress.Count != 0)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Device Brand</th>
                                <th>Device Model</th>
                                <th>Request Date</th>
                                <th>Rent start date</th>
                                <th>Rent end date</th>
                                <th>Request Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.InProgress)
                            {
                                <tr>
                                    <td>@item.Id.ToString().Split("-")[0]</td>
                                    <td>@item.Device.Brand.Name</td>
                                    <td>@item.Device.Model</td>
                                    <td>@item.RequestDate</td>
                                    <td>@item.RentStartDate</td>
                                    <td>@item.RentEndDate</td>
                                    <td>@item.Message</td>
                                    <td>
                                        <div class="row center-block">
                                            <button asp-page="/MyRequests" type="button" class="btn btn-danger btn-md RequestCancelButton" id="@item.Id">Cancel</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h2>You have no requests</h2>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <h2 class="text-center">History</h2>
            <div class="table-responsive">
                @if (Model.History.Count != 0)
                {
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Device Id</th>
                                <th>Device Brand</th>
                                <th>Device Model</th>
                                <th>Device Description</th>
                                <th>Request Date</th>
                                <th>Rent start date</th>
                                <th>Rent end date</th>
                                <th>Request Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.History)
                            {
                                <tr>
                                    <td>@item.Id.ToString()</td>
                                    <td>@item.Device.Id.ToString()</td>
                                    <td>@item.Device.Brand.Name</td>
                                    <td>@item.Device.Model</td>
                                    <td>@item.Device.Description</td>
                                    <td>@item.RequestDate</td>
                                    <td>@item.RentStartDate</td>
                                    <td>@item.RentEndDate</td>
                                    <td>@item.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h2>You have no history</h2>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".RequestCancelButton").click(function () {
            var requestId = $(this).attr("Id").toString();

            console.log(requestId);

            $.ajax({
                url: '/MyRequests',
                type: 'POST',
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(requestId)
            }).done(function (result) {
                console.log("Ok");
            });
        });
    });
</script>